In [19]:
import pandas as pd, numpy as np

p = pd.Panel(np.random.rand(4,3,2))
p.apply(np.sqrt)
p.ix[0]

          0         1
0  0.193037  0.765455
1  0.657415  0.031668
2  0.193124  0.171146

In [26]:
p.apply(lambda x: x.sum(), axis=0)

          0         1
0  1.433599  3.323592
1  2.815244  1.431471
2  2.612721  1.283311

In [16]:
p.apply(lambda x: x.sum(), axis='minor')

          0         1         2         3
0  1.246509  0.345470  1.218470  0.907961
1  0.745385  0.806824  0.723481  0.937266
2  0.779735  0.921985  0.867974  0.885332

In [30]:
p.apply(lambda x: x.shape, axis=(0,1))#[0,0,0]

0    (3, 4)
1    (3, 4)
dtype: object