In [6]:
import pandas as pd
d = {'a':'apple','b':'banana','c':'cat','d':'dog'}
dict_series = pd.Series(d.values(),index=d.keys())
dict_series

a     apple
c       cat
b    banana
d       dog
dtype: object

In [13]:
def threshold_count(xs,thresh=100):
    tot = 0
    for x in xs:
        if x>thresh:
            tot += 1
    return tot
    

trains = pd.read_csv('sydtrains.csv',thousands=',')
pd.pivot_table(trains, 
               index=['LINE','YEAR'], 
               values=['IN_24_HOURS','OUT_24_HOURS'],
               #columns=['YEAR'],
               aggfunc=[sum,len,threshold_count])

                                sum                      len               \
                        IN_24_HOURS OUT_24_HOURS IN_24_HOURS OUT_24_HOURS
LINE               YEAR
Airport            2004        6680         6680           4            4
                   2005        6930         6930           4            4
                   2006        7210         7210           4            4
                   2007        9240         9240           4            4
                   2008       10460        10460           4            4
                   2009        9880         9880           4            4
                   2010       10840        10840           4            4
                   2011       14670        14670           4            4
                   2012       17290        17290           4            4
                   2013       19710        19710           4            4
                   2014       21880        21880           4            4
Bankstown          2004       48550        48550          21           21
                   2005       45030        45030          21           21
                   2006       46260        46260          21           21
                   2007       47620        47620          21           21
                   2008       52910        52910          21           21
                   2009       53880        53880          21           21
                   2010       52960        52960          21           21
                   2011       52830        52830          21           21
                   2012       53230        53230          21           21
                   2013       53340        53340          21           21
                   2014       54050        54050          21           21
Blue Mountains     2004        8660         8660          21           21
                   2005        8750         8750          21           21
                   2006        8710         8710          21           21
                   2007        8360         8360          21           21
                   2008        8110         8110          21           21
                   2009        8130         8130          21           21
                   2010        7940         7940          21           21
                   2011        7880         7880          21           21
...                             ...          ...         ...          ...
South Coast        2007       12800        12800          34           34
                   2008       12210        12210          34           34
                   2009       11310        11310          34           34
                   2010       11100        11100          34           34
                   2011       11600        11600          34           34
                   2012       11700        11700          34           34
                   2013       11890        11890          34           34
                   2014       11780        11780          34           34
Southern Highlands 2004        1340         1340          18           18
                   2005        1320         1320          18           18
                   2006        1200         1200          18           18
                   2007        1220         1220          18           18
                   2008        1270         1270          18           18
                   2009        1360         1360          18           18
                   2010        1500         1500          18           18
                   2011        1500         1500          18           18
                   2012        1490         1490          18           18
                   2013        1460         1460          18           18
                   2014        1640         1640          18           18
Western            2004      115700       115700          29           29
                   2005      112440       112440          29           29
                   2006      111270       111270          29           29
                   2007      116300       116300          29           29
                   2008      125450       125450          29           29
                   2009      123600       123600          29           29
                   2010      122440       122440          29           29
                   2011      127210       127210          29           29
                   2012      124940       124940          29           29
                   2013      126840       126840          29           29
                   2014      134040       134040          29           29

                        threshold_count
                            IN_24_HOURS OUT_24_HOURS
LINE               YEAR
Airport            2004               4            4
                   2005               4            4
                   2006               4            4
                   2007               4            4
                   2008               4            4
                   2009               4            4
                   2010               4            4
                   2011               4            4
                   2012               4            4
                   2013               4            4
                   2014               4            4
Bankstown          2004              21           21
                   2005              21           21
                   2006              21           21
                   2007              21           21
                   2008              21           21
                   2009              21           21
                   2010              21           21
                   2011              21           21
                   2012              21           21
                   2013              21           21
                   2014              21           21
Blue Mountains     2004              17           17
                   2005              17           17
                   2006              16           16
                   2007              17           17
                   2008              15           15
                   2009              15           15
                   2010              15           15
                   2011              16           16
...                                 ...          ...
South Coast        2007              21           21
                   2008              20           20
                   2009              20           20
                   2010              20           20
                   2011              20           20
                   2012              20           20
                   2013              21           21
                   2014              21           21
Southern Highlands 2004               6            6
                   2005               6            6
                   2006               5            5
                   2007               5            5
                   2008               5            5
                   2009               5            5
                   2010               5            5
                   2011               5            5
                   2012               5            5
                   2013               5            5
                   2014               6            6
Western            2004              28           28
                   2005              27           27
                   2006              27           27
                   2007              27           27
                   2008              27           27
                   2009              27           27
                   2010              27           27
                   2011              27           27
                   2012              28           28
                   2013              28           28
                   2014              28           28

[220 rows x 6 columns]

In [23]:
import numpy as np
p = pd.Panel(np.random.rand(4,3,2))
m = p.apply(lambda x: x.iloc[1,1], axis = (0,1))
m

0    0.186247
1    0.358098
dtype: float64

In [31]:
%timeit pd.pivot_table(trains, index=['LINE','YEAR'], values=['IN_24_HOURS','OUT_24_HOURS'], aggfunc=[sum,len,threshold_count])
%timeit trains.groupby(['LINE','YEAR'])['IN_24_HOURS','OUT_24_HOURS'].sum()

10 loops, best of 3: 38.2 ms per loop
1000 loops, best of 3: 1.68 ms per loop

In [43]:
aggs = [sum,len,threshold_count]
%timeit trains.groupby(['LINE','YEAR'])['IN_24_HOURS','OUT_24_HOURS'].agg(aggs)

100 loops, best of 3: 7.01 ms per loop

In [47]:
trains.groupby(['YEAR']).groups[2005]

[2757,
 2758,
 2759,
 2760,
 2761,
 2762,
 2763,
 2764,
 2765,
 2766,
 2767,
 2768,
 2769,
 2770,
 2771,
 2772,
 2773,
 2774,
 2775,
 2776,
 2777,
 2778,
 2779,
 2780,
 2781,
 2782,
 2783,
 2784,
 2785,
 2786,
 2787,
 2788,
 2789,
 2790,
 2791,
 2792,
 2793,
 2794,
 2795,
 2796,
 2797,
 2798,
 2799,
 2800,
 2801,
 2802,
 2803,
 2804,
 2805,
 2806,
 2807,
 2808,
 2809,
 2810,
 2811,
 2812,
 2813,
 2814,
 2815,
 2816,
 2817,
 2818,
 2819,
 2820,
 2821,
 2822,
 2823,
 2824,
 2825,
 2826,
 2827,
 2828,
 2829,
 2830,
 2831,
 2832,
 2833,
 2834,
 2835,
 2836,
 2837,
 2838,
 2839,
 2840,
 2841,
 2842,
 2843,
 2844,
 2845,
 2846,
 2847,
 2848,
 2849,
 2850,
 2851,
 2852,
 2853,
 2854,
 2855,
 2856,
 2857,
 2858,
 2859,
 2860,
 2861,
 2862,
 2863,
 2864,
 2865,
 2866,
 2867,
 2868,
 2869,
 2870,
 2871,
 2872,
 2873,
 2874,
 2875,
 2876,
 2877,
 2878,
 2879,
 2880,
 2881,
 2882,
 2883,
 2884,
 2885,
 2886,
 2887,
 2888,
 2889,
 2890,
 2891,
 2892,
 2893,
 2894,
 2895,
 2896,
 2897,
 2898,
 2899,
 2900,
 2901,
 2902,
 2903,
 2904,
 2905,
 2906,
 2907,
 2908,
 2909,
 2910,
 2911,
 2912,
 2913,
 2914,
 2915,
 2916,
 2917,
 2918,
 2919,
 2920,
 2921,
 2922,
 2923,
 2924,
 2925,
 2926,
 2927,
 2928,
 2929,
 2930,
 2931,
 2932,
 2933,
 2934,
 2935,
 2936,
 2937,
 2938,
 2939,
 2940,
 2941,
 2942,
 2943,
 2944,
 2945,
 2946,
 2947,
 2948,
 2949,
 2950,
 2951,
 2952,
 2953,
 2954,
 2955,
 2956,
 2957,
 2958,
 2959,
 2960,
 2961,
 2962,
 2963,
 2964,
 2965,
 2966,
 2967,
 2968,
 2969,
 2970,
 2971,
 2972,
 2973,
 2974,
 2975,
 2976,
 2977,
 2978,
 2979,
 2980,
 2981,
 2982,
 2983,
 2984,
 2985,
 2986,
 2987,
 2988,
 2989,
 2990,
 2991,
 2992,
 2993,
 2994,
 2995,
 2996,
 2997,
 2998,
 2999,
 3000,
 3001,
 3002,
 3003,
 3004,
 3005,
 3006,
 3007,
 3008,
 3009,
 3010,
 3011,
 3012,
 3013,
 3014,
 3015,
 3016,
 3017,
 3018,
 3019,
 3020,
 3021,
 3022,
 3023,
 3024,
 3025,
 3026,
 3027,
 3028,
 3029,
 3030,
 3031,
 3032,
 3033,
 3034,
 3035,
 3036,
 3037,
 3038,
 3039,
 3040,
 3041,
 3042,
 3043,
 3044,
 3045,
 3046,
 3047,
 3048,
 3049,
 3050,
 3051,
 3052,
 3053,
 3054,
 3055,
 3056,
 3057,
 3058,
 3059,
 3060]