# Create Master Tables

In [12]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
#Create your unique engine
engine = create_engine('postgresql://postgres:@localhost/tidyme')

In [3]:
users = pd.read_sql_table('users', con=engine)
customers = users[users.role == 0]
cleaners = users[users.role == 1]
leads = users[users.role == 3]
applicants = users[users.role == 4]

In [4]:
jobs = pd.read_sql_table('jobs', con=engine)
occurrences = pd.read_sql_table('occurrences', con=engine)
zones = pd.read_sql_table('zones', con=engine)
cities = pd.read_sql_table('cities', con=engine)
availabilities = pd.read_sql_table('availabilities', con=engine)

/home/chong/anaconda2/lib/python2.7/site-packages/sqlalchemy/dialects/postgresql/base.py:2773: SAWarning: Predicate of partial index index_occurrences_on_late_arrival_predicted ignored during reflection
  % idx_name)

In [5]:
occs = occurrences[[
'id','job_id',# 'cleaner_id',
# times
'booking_time','end_time','canceled_at',
# important
'extras','price','contacted_cleaners',
# feedback
'feedback_rating','feedback_text','feedback_reason','hidden_feedback','amended_rating','feedback_reported',
# late, incomplete
'late_arrival_predicted','incomplete','completion_reported','refund',
]]

jobs = jobs[[
'id','cleaner_id','customer_id',
# important
'first_booking_time','canceled_at','paused_at','paused_until',
'cancellation_reason',
'bedrooms','bathrooms','frequency',
'cleaning_essential',
'price_scheme','extras',
'ideal_cleaner_id',
#  location  
'address','city','postcode_id','zone_id','postcode','latitude','longitude',
# misc
'custom_price','custom_duration','number_of_cleaners',
'through_admin','referrer_id','coupon_code','coupon_value'
]]

cleaners = cleaners[[
'id','deleted_at',              
# usage
'target_hours','rating_all_time','rating_this_week','sign_in_count',        
# location
'address','city','postcode','zones',
'latitude','longitude',
# misc
'changed_availabilities',
'pair_clean',
'language','birthday','student','gender' 
]]

customers = customers[[
'id', 'deleted_at',
# misc
'sign_in_count','preferred_gender','disliked_cleaners',
]]

avails = availabilities[[
'id','cleaner_id',
'start_time','end_time','availability_type','vacant_frequency',
'deleted_at'
]]

In [13]:
jobs = jobs[~np.isnan(jobs['cleaner_id'])]

In [15]:
cleaners

,id,deleted_at,target_hours,rating_all_time,rating_this_week,sign_in_count,address,city,postcode,zones,latitude,longitude,changed_availabilities,pair_clean,language,birthday,student,gender
323,7972,2016-10-10 23:02:07.681444,20.0,4.250000,NaN,32,Unit 5 L 5 285 CLARENCE ST,SYDNEY,2000.0,[1],-33.872511,151.205487,True,False,pt,1994-04-23,True,1.0
325,8531,NaT,20.0,4.777778,NaN,44,11A WILLIS STREET,KINGSFORD,2032.0,[],-33.918873,151.232296,False,False,en,1977-06-20,True,0.0
330,18,NaT,20.0,4.500000,NaN,252,13/142 Old South Head Rd,Bellevue Hill,2023.0,[],-33.888939,151.258870,False,False,pt,1981-05-16,True,1.0
333,6627,2016-10-10 02:27:23.122058,20.0,4.585366,NaN,176,"74,32-34 Bunn street",Pyrmont,2009.0,[6],-33.870844,151.197083,True,False,pt,1986-01-27,True,1.0
334,8423,NaT,20.0,4.785714,NaN,200,118 1-29 Bunn Street,Pyrmont,2009.0,[],-33.871631,151.196790,False,False,pt,1993-04-11,True,0.0
337,8184,NaT,20.0,5.000000,NaN,40,Unit 906 191 Constance Street,Bowen Hills,4006.0,[],-27.453102,153.033022,False,False,pt,1990-01-08,True,1.0
338,8530,NaT,20.0,3.750000,NaN,48,18/32-34 Bunn Street,Pyrmont,2009.0,[],-33.870844,151.197083,False,False,pt,1982-06-30,True,0.0
339,8630,NaT,20.0,5.000000,5.0,75,502/06 Bidjigal RD,Arncliffe,2205.0,[],-33.933064,151.147746,False,False,pt,1994-01-17,True,0.0
340,8629,NaT,20.0,5.000000,5.0,71,109/2 Ashton Street,Rockdale,2216.0,[],-33.958207,151.138615,False,False,pt,1976-12-13,True,0.0
341,8364,NaT,20.0,4.444444,NaN,139,359 New Canterbury Rd,Dulwich Hill,2203.0,[],-33.900307,151.144514,False,False,pt,1985-02-15,True,0.0
465,8826,2016-10-04 12:26:10.000434,20.0,NaN,NaN,0,"118, Brook St",Coogee,2034.0,[],-33.920828,151.254060,True,False,en,1992-10-12,True,NaN
487,8823,NaT,35.0,NaN,NaN,9,717 ANZAC PARADE,MAROUBRA,2025.0,[],-33.940658,151.238089,False,False,pt,1991-07-17,False,NaN
581,5856,2016-05-20 08:35:33.810776,20.0,NaN,NaN,1,43A Spofforth st.,Mosman,2088.0,[],-33.833399,151.229649,True,None,en,1993-11-22,True,0.0
586,6530,2016-10-04 04:19:12.124551,20.0,4.100000,NaN,92,406/120 Turella St,Turella,2205.0,[],-33.929000,151.146082,True,False,en,1977-05-26,True,1.0
587,7418,2016-09-12 06:33:11.894430,35.0,4.833333,NaN,121,24B Gerard St,Redfern,2016.0,"[5, 7]",-33.897689,151.196771,True,None,en,1979-02-11,False,1.0
588,6194,2016-09-20 01:24:37.801965,35.0,4.723077,NaN,260,Unit 216 52 Arncliffe St,Wolli Creek,2205.0,"[1, 7]",-33.931906,151.152267,True,None,en,1983-12-18,False,0.0
597,8101,2016-09-20 01:26:12.647927,20.0,NaN,NaN,74,"261, Harris street",Sydney,2009.0,[1],-33.873304,151.195699,True,None,en,1984-04-22,True,1.0
599,7468,2016-10-06 04:05:33.702888,20.0,4.888889,NaN,151,"6, James st.",Bondi Junction,2020.0,[2],-33.895485,151.254362,True,False,en,1980-06-13,True,1.0
600,7391,2016-09-26 08:58:18.569379,20.0,4.800000,NaN,132,106/17 Joynton Avenue,Zetland,2017.0,[5],-33.904264,151.208362,True,False,en,1993-12-06,True,1.0
601,7722,NaT,20.0,5.000000,NaN,85,"1 Wiley, Unit 19",Chippendale,2008.0,[7],-33.888099,151.197347,False,False,en,1996-04-17,True,1.0
602,6737,NaT,35.0,4.655738,5.0,270,216 Harris Street,Pyrmont,2009.0,"[1, 5]",-33.871065,151.194986,False,False,en,1990-11-19,False,1.0
603,3449,NaT,20.0,4.250000,NaN,785,Unit 3/8 Brighton,Petersham,2049.0,[],-33.892157,151.157255,False,True,pt,1987-07-23,True,1.0
604,3299,NaT,20.0,4.818182,NaN,14,Unit 32 / 231 - 235 Canterbury Road,Canterbury,2193.0,[],-33.913208,151.116325,False,False,pt,1977-06-24,True,1.0
606,3663,NaT,20.0,4.822335,5.0,1375,30/93 Quay Street,Haymarket,2000.0,[6],-33.882087,151.203150,False,True,pt,1986-05-01,True,1.0
607,7710,NaT,20.0,4.615385,NaN,165,04/102 Miller Street,Pyrmont,2009.0,[6],-33.869780,151.191986,False,False,pt,1992-04-21,True,1.0
612,8355,2016-09-20 01:30:14.666511,20.0,4.000000,NaN,11,Se 803 L 8 307 PITT ST,SYDNEY,2000.0,[],-33.873612,151.207762,True,None,en,1986-01-02,True,1.0
613,3048,2016-09-28 01:09:09.198624,20.0,4.615385,NaN,258,8/51-54 The Grand Parade,Brighton Le Sands,2216.0,[4],-33.958798,151.157028,True,False,en,1978-05-31,True,1.0
614,5334,NaT,20.0,4.782609,NaN,612,Unit 604/65-71 Belmore Road,Randwick,2031.0,[4],-33.914463,151.240490,False,False,pt,1981-05-31,True,1.0
615,3426,NaT,20.0,4.434783,NaN,157,53 Young Street,Neutral Bay,2089.0,[8],-33.830505,151.221404,False,True,pt,1995-03-27,True,1.0
616,5111,NaT,20.0,NaN,NaN,7,1703/1 Brodie Spark Drive,Wolli Creek,2205.0,[],-33.930144,151.154401,False,False,pt,1985-04-10,True,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5898,8504,2016-10-11 22:29:11.685496,20.0,NaN,NaN,6,15 Forsyth,Kingsford,2032.0,[],-33.920889,151.230514,True,False,pt,1993-06-07,True,1.0
5996,8562,NaT,20.0,NaN,NaN,21,50/101 Bowen Street,Spring Hill,4000.0,[],-27.461959,153.028026,False,False,pt,1983-07-02,True,0.0
5997,8685,NaT,20.0,4.000000,NaN,4,302/408 Lonsdale Street,City / Melbourne,3000.0,[],-37.812598,144.960402,False,False,pt,1986-02-27,True,0.0
6018,7933,NaT,20.0,4.875000,5.0,280,508/261 Harris St.,PYRMONT,2009.0,[1],-33.873304,151.195699,False,False,pt,1994-06-21,True,1.0
6117,8046,NaT,20.0,5.000000,NaN,216,Gannon St,Tempe,2044.0,[7],-33.924248,151.158580,False,False,pt,1978-11-14,True,1.0
6118,22,NaT,20.0,NaN,NaN,24,609 Harris St,Ultimo,2007.0,[],-33.879899,151.199478,False,False,pt,1985-10-03,True,1.0
6119,7996,NaT,20.0,5.000000,NaN,67,32 Kimpton street,Banksia,2216.0,[1],-33.946801,151.137620,False,False,en,1987-12-01,True,1.0
6120,7746,NaT,20.0,4.000000,NaN,46,91/308 Pitt street,Sydney,2000.0,[8],-33.875215,151.208258,False,False,pt,1978-03-25,True,1.0
6121,3,NaT,20.0,4.509434,5.0,3137,4/5-11 Harcourt Av,Campsie,2194.0,"[6, 2]",-33.910443,151.097272,False,False,en,1990-04-26,False,0.0
6124,8265,NaT,20.0,4.461538,5.0,196,1101/355 Kent Street,Sydney,2000.0,[],-33.869018,151.204364,False,False,pt,1994-08-08,True,1.0
6125,4329,NaT,20.0,4.776471,NaN,591,2/60 Flinders Street,Darlinghurst,2010.0,[2],-33.882736,151.217677,False,True,pt,1985-06-13,True,1.0
6130,5242,NaT,20.0,4.760000,NaN,409,283 Storey Street,Maroubra,2035.0,[4],-33.940634,151.252237,False,True,pt,1989-08-28,False,1.0
6378,7050,NaT,35.0,4.842105,NaN,744,17B EDGECLIFF ROAD,WOOLLAHRA,2025.0,"[2, 3]",-33.889164,151.255250,False,True,pt,1987-06-12,False,1.0
8155,8532,NaT,20.0,4.833333,5.0,138,264 new canterbury road,Lewisham,2049.0,[],-33.898208,151.146854,False,False,en,1995-06-01,True,0.0
8615,3085,NaT,20.0,4.651685,NaN,1060,7 Lucius St,Bondi Beach,2026.0,[2],-33.893276,151.270685,False,True,pt,1979-09-19,True,1.0
8627,3520,NaT,20.0,4.651685,NaN,498,24 Princes St,Bexley,2207.0,"[7, 8]",-33.942383,151.128088,False,True,pt,1977-04-20,True,1.0
8636,6777,NaT,20.0,4.560976,NaN,386,101 West Botany,Arncliffe,2205.0,[2],-33.939890,151.150988,False,False,pt,1983-12-22,False,1.0
8637,6660,NaT,20.0,4.969231,5.0,299,242 Chalmers St,Redfern,2016.0,[2],-33.890878,151.206116,False,True,pt,1996-08-15,False,1.0
8794,8739,2016-10-06 05:46:13.549272,20.0,NaN,NaN,0,41/71-79 Avoca Street,Randwick,2031.0,[],-33.910556,151.244243,True,False,en,1978-06-01,True,NaN
8795,8353,2016-10-11 22:32:04.725212,20.0,4.600000,NaN,203,03/94 PEROUSE ROAD,RANDWICK,2031.0,[],-33.921686,151.242832,True,False,pt,1991-01-28,True,0.0
8803,1427,2015-07-30 05:16:03.702753,20.0,NaN,NaN,3,12 False St,Sydney,2000.0,[],-33.867477,151.206978,False,None,en,1979-02-07,False,0.0
8808,7581,2016-10-04 04:16:34.517980,20.0,4.687500,NaN,200,20/364 Bay Street,Brighton-Le-Sands,2216.0,[5],-33.960069,151.154942,True,False,en,1991-04-06,True,1.0
8809,7290,2016-10-04 04:14:30.749466,20.0,4.294118,NaN,239,18/32-34 Bunn Street,Pyrmont,2009.0,[1],-33.870844,151.197083,True,False,en,1989-08-22,True,1.0
8811,5274,2016-09-13 04:17:18.091996,20.0,4.000000,NaN,160,Unit 105/95 Bonar St,Wolli Creek,2205.0,[],-33.930631,151.149142,True,None,en,1979-07-30,True,0.0
8812,6794,2016-10-06 02:43:00.289228,20.0,4.454545,NaN,654,242 Chalmers Street,Redfern,2016.0,[1],-33.890878,151.206116,True,True,en,1989-12-16,True,1.0
8813,5842,NaT,20.0,4.612903,NaN,326,Unit 105/95 Bonar Street,Wolli Creek,2205.0,[6],-33.930631,151.149142,False,True,pt,1985-01-11,True,1.0
8814,8215,2016-09-20 06:26:43.626491,35.0,NaN,NaN,0,"12/300B Burns Bay Road, , 300B Burns bay road",lane cove,2066.0,[],-33.821250,151.152201,True,None,en,1984-08-17,False,0.0
8826,2204,2016-01-17 10:17:13.893389,20.0,4.571429,NaN,221,10 Terry St,Tempe,2044.0,[],-33.920549,151.167154,True,None,en,1995-02-21,False,0.0
8841,2483,2015-09-23 03:22:17.450076,20.0,NaN,NaN,1,26/ 51-57 Buller st,North Parramatta,2151.0,[],-33.802603,151.012884,False,None,en,1992-12-14,False,0.0
8918,2624,2015-10-20 23:05:18.313039,20.0,NaN,NaN,10,1 Queen St,Randwick,2031.0,[],-33.918591,151.246350,False,None,en,1978-09-14,False,0.0

In [ ]:
cleaners